.banner{
    width: 100%;
}
.banner video{
    object-fit: cover;
    height: 100vh;
    z-index: 1;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.banner-text{
    position: absolute;
    top:45%;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    z-index: 10;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

.banner-text blockquote #quote::before{
   content:"'";
   font-weight: 300;
}
.banner-text blockquote #quote::after{
    content:"'";
    font-weight: 300;
 }

 .banner-text button{
    border:2px solid white;
    background-color: transparent;
    color:white;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 8px;;
 }
 .banner-text button:hover{
    background-color: white;
    color:black;
    cursor: pointer;
 }

 #banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
 }