.chat-container{
    color:white;
    width:50%;
    margin:auto;
    height: 90vh;
    overflow: hidden;
    border: 3px solid #333533;
    border-top: none;
    border-right: none;
    padding: 0 50px;
    overflow-y: scroll;
}

#inbox{
    width: 100%;
    /* height: 100%; */
    padding: 35px 0 100px 0;
    color:white;
    font-size: 3rem;
}

.chat-container::-webkit-scrollbar {
    /* display: none; */
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    /* border-radius: 10px; */
    width:5px;
}
::-webkit-scrollbar {
    /* display: none; */
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    /* border-radius: 10px; */
    width:15px;
}
::-webkit-scrollbar-thumb{
    background-color: #979dac;
}

.chat-container::-webkit-scrollbar-track{
    background-color: #333533;
}

#inbox p{
    color:white;
    font-size: 1.2rem; 
}

#inbox .text{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#inbox img{
    width:40px;
    border-radius: 20px;
}

.sent{
    
   justify-content: flex-start;
   flex-direction: row-reverse;
}

.sent img{
    display: none;
}

.sent p{
    background-color: #4361ee;
    padding: 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.received p{
    background-color: #495057;
    padding: 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#groups{
    margin-left: 20px;
    padding: 20px;
}

#alert-overlay{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 999;
    align-items: center;
}

#alert-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d3557;
    padding:80px;
    gap:20px;
    border-radius: 10px;
    border: 1px solid #979dac;
}

#alert-overlay h2{
    font-size: 2rem;
}

#alert-inner button{
    cursor: pointer;
    padding:10px 30px;
    font-size: 1.3rem;
    background-color: white;
    border: none;
    border-radius: 5px;
}

#alert-overlay button:hover{
    background-color: #FF474E;
    color:white;
}


#input-group{
    width:50%;
    margin:auto;
    display: flex;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

form #message-input{
    padding:10px 30px;
    width:100%;
    font-size: 1.2rem;
    border:none;
}

form #message-input:focus{
    outline:none;
}

form #send-btn{
    padding:10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background-color: #30bced;
    display: flex;
    gap:5px;
}