.chat-container{
    color:white;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#inbox{
    /* border-right: 1px solid white; */
    width: 100%;
    height: 90vh;
    padding: 20px;
    overflow-y: scroll;
}
#groups{
    margin-left: 20px;
    padding: 20px;
}

#alert{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 100;
    align-items: center;
    gap:20px;
}

#alert h2{
    font-size: 2rem;
}

#alert button{
    cursor: pointer;
    padding:8px 20px;
    font-size: 1.3rem;
    background-color: white;
    border: none;
    border-radius: 5px;
}

#alert button:hover{
    background-color: #FF474E;
    color:white;
}
