.nav-container{
    background-color: #293241;
    width:100%;
    height:80px;
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
    /* border-bottom: 2px solid #ff595e; */
    transition: all 300ms ease-in-out;
}

.nav-container ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width:40%;
    height:100%;
    margin:auto;
    align-items: center;
}

.nav-container ul li a{
    /* color:#FF333A; */
    color:white;
    text-decoration: none;
    font-size:1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.nav-container ul li a:hover{
    /* color:black; */
    color:#FF333A;
}

.scroll-up .nav-container{
    transform: translate3d(0,-100%,0);
}

.scroll-down .nav-container{
    transform: translate3d(0,-100%,0);
}